.container {
    margin-top: 50px;
    border-radius: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    background: #9dd558;

    &.disabled {
        background: color-mix(
            in srgb,
            rgba(25, 25, 25, 0.5) 20%,
            rgba(25, 25, 25, 0.5) 20%
        );
        opacity: 0.5;
        cursor: default;

        &:hover {
            filter: none;
        }
    }

    &:hover {
        filter: brightness(1.2);
    }

    .buttonText {
        margin: 0;
        color: rgba(25, 25, 25, 1);
        font-size: 20px;
        font-weight: 700;
    }
}
