.headerCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.headerInfo {
    display: flex;
    align-items: center;
}

h3.text {
    text-transform: uppercase;
}

p.text {
    opacity: 0.5;
}

.list {
    display: flex;
    align-items: center;
    cursor: pointer;

    a {
        display: flex;
        align-items: center;
    }
}

.basket {
    margin-right: 30px;
    cursor: pointer;
}

.greenButton {
    margin-left: 5px;
    width: 100%;
    height: 35px;
    background-color: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 12px;
    transition: background 0.1s ease-in-out;

    &:disabled {
        background-color: #bebebe !important;
        cursor: default;
    }

    &:hover {
        background: lighten(#9dd558, 5%);
    }

    &:active {
        background: darken(#9dd558, 5%);
    }
}
